# Basic Python

## 1. Split this string

In [ ]:
s = "Hi there Sam!"

In [1]:
s= "Hi there Sam!"
print(s.split())

['Hi', 'there', 'Sam!']

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742

print("The diameter of {} is {} kilometers.".format(planet,diameter))

## 3. In this nest dictionary grab the word "hello"

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
print(d'[k1'][3] ['tricky'][3]['target'][3])

# Numpy

In [ ]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [ ]:
array=np.zeros(10)
print("An array of 10 zeros:")
print(array)

In [ ]:
array=np.ones(10)*5
print("An array of 10 fives:")
print(array)

## 5. Create an array of all the even integers from 20 to 35

In [1]:
array=np.arange(20,35,2)
print("Array of all the even integers from 20 to 35")
print(array)

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [ ]:
print(np.arange(0,9).reshape((3,3)))

## 7. Concatenate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [ ]:
print(np.concatenate((a, b)))

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [ ]:
import pandas as pd
data=[[10,"Rajesh"]],[20,"deepak"],[30,"Ravi"]]
df=pd.DataFrame(data,columns=['Numbers','student Names'])
df

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [ ]:
per= pd.date_range(start ='1-1-2023', 
         end ='10-2-2023')
  
for val in per:
    print(val)

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [ ]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [ ]:
df = pd.DataFrame(lists, columns =['No.', 'LName', 'Age'],) 
print(df)